<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="lib/css/bootstrap.min.css">
        <script src="lib/js/jquery.min.js"></script>
        <script src="lib/js/angular.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="ctrl/itemsCtrl.js"></script>
    </head>
    
    <body ng-app="ItemsApp">
        <div class="container" ng-controller="ItemsCtrl">
            <div class="row vdivide">
                <div class="col-sm-3">
                    <!-- Selection-->Select types: 
                    <button class="btn btn-link btn-xs" ng-click="clearSelection()">
                        <span class="glyphicon glyphicon-remove"></span>Clear</button>
                    <div class="checkbox" ng-repeat="type in types">
                        <label>
                            <input type="checkbox" name="selectedTypes" value="{{type}}" ng-checked="selection.indexOf(type.type) > -1"
                            ng-click="toggleSelection(type.type)">{{type.type}}</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!-- results thumnails-->
                    <div class="row">
                        <div ng-repeat="item in items ">
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="images/hills.JPG">
                                    <h3>{{item.name}}</h3>
                                    <p>Rs.{{item.price}}</p>
                                    <p>{{item.type}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
